<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activation Successfull</title>
</head>
<body>
    <div>
        <h1>Account Activation Successfull</h1>
        <script>

            window.onload = function(){
                window.location.href =  'http://localhost:3000/login'
            }
        </script>
        
    <div>
    
</body>
</html>
